<a href="https://colab.research.google.com/github/nurulshifaside/Data-Science-Tasks/blob/main/3rd%20Task/Foundation%20For%20Data%20Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GRUP 2 KOMPI 7


1. SC60711	Talitha Sahda Nindyra W
2. SC60714	Fatimah Nur Rohiim
3. SC60715	Kevin Sukma Adhinugraha
4. SC60717	Nurul Shifa Maulina
5. SC60721	Erfani Nurul Hamidah

**SOAL 1**

# SOAL 1 POIN 1
Identifikasi dan jelaskan tipe data apa saja yang ada pada dataframe, ada berapa kolom dan baris, serta informasi apa saja yang terkandung dalam data tersebut?

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path_dataset = '/content/drive/MyDrive/stupen/Data Kompi 7.xlsx'

In [ ]:
df = pd.read_excel(path_dataset)
df

,No. Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm),Unnamed: 5,Unnamed: 6
0,SC60701,Adrie Bagas Saputra,Sistem dan Teknologi Informasi,70,172,NaN,NaN
1,SC60702,Angel Paulina Siahaan,Teknik Informatika,50,157,NaN,NaN
2,SC60703,Deby Ilma Aulia,Akuntansi,40,160,NaN,NaN
3,SC60704,Eryantina Wahyu Hidayat,teknik industri,58,155,NaN,NaN
4,SC60705,Hanisa Feranti,Pendidikan Fisika,49,156,NaN,NaN
5,SC60706,Lina Wardani,Sistem Informasi,58,168,NaN,NaN
6,SC60707,Muhamad Aqmal Ramadhan,Teknologi Industri Pertanian,60,179,NaN,NaN
7,SC60708,Nabila Masithoh Rosyidani,Akuntansi,45,159,NaN,NaN
8,SC60709,Octavia Kustiana,Pendidikan PKn,45,152,NaN,NaN
9,SC60710,Rizki Surya Fajar,Teknik Informatika,65,179,NaN,NaN
10,SC60711,Talitha Sahda Nindyra W,Oseanografi,50,157,NaN,NaN
11,SC60712,Aldy Firmansyah,Sistem Informasi,68,169,NaN,NaN
12,SC60713,Chairina Nabila,Teknik Informatika,45,153,NaN,NaN
13,SC60714,Fatimah Nur Rohiim,Pendidikan Bahasa dan Sastra Indonesia,60,157,NaN,NaN
14,SC60715,Kevin Sukma Adhinugraha,Manajemen,62,168,NaN,NaN
15,SC60716,Muhammad Fikri Abdillah S,Statistika,70,168,NaN,NaN
16,SC60717,Nurul Shifa Maulina,Ilmu Ekonomi Syariah,50,159,NaN,NaN
17,SC60718,Shafira Nurin Qolbi,Sistem Informasi,46,159,NaN,NaN
18,SC60719,Agnes Theresia Siburian,Sistem Informasi,48,158,NaN,NaN
19,SC60720,Ade Lia Nur Fitri,Matematika,60,158,NaN,
20,SC60721,Erfani Nurul Hamidah,statistika,42,157,NaN,NaN
21,SC60722,Kafka Imtiyaaz Bayuaji,Statistika,100,183,NaN,NaN
22,SC60723,Nadila Angelina Shintya B,Matematika,45,155,NaN,NaN
23,SC60724,Raphael Junus Samson,Matematika,62,170,NaN,NaN
24,SC60725,Veren Oktavia Halim,Statistika,60,159,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No. Peserta        25 non-null     object
 1   Nama               25 non-null     object
 2   Jurusan            25 non-null     object
 3   Berat Badan (kg)   25 non-null     int64
 4   Tinggi Badan (cm)  25 non-null     int64
 5   Unnamed: 5         0 non-null      float64
 6   Unnamed: 6         1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.5+ KB

In [ ]:
df.shape

(25, 7)

# SOAL 1 POIN 2

In [ ]:
df['Tinggi Badan (m)'] = df['Tinggi Badan (cm)'] / 100
df

,No. Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm),Unnamed: 5,Unnamed: 6,Tinggi Badan (m)
0,SC60701,Adrie Bagas Saputra,Sistem dan Teknologi Informasi,70,172,NaN,NaN,1.72
1,SC60702,Angel Paulina Siahaan,Teknik Informatika,50,157,NaN,NaN,1.57
2,SC60703,Deby Ilma Aulia,Akuntansi,40,160,NaN,NaN,1.60
3,SC60704,Eryantina Wahyu Hidayat,teknik industri,58,155,NaN,NaN,1.55
4,SC60705,Hanisa Feranti,Pendidikan Fisika,49,156,NaN,NaN,1.56
5,SC60706,Lina Wardani,Sistem Informasi,58,168,NaN,NaN,1.68
6,SC60707,Muhamad Aqmal Ramadhan,Teknologi Industri Pertanian,60,179,NaN,NaN,1.79
7,SC60708,Nabila Masithoh Rosyidani,Akuntansi,45,159,NaN,NaN,1.59
8,SC60709,Octavia Kustiana,Pendidikan PKn,45,152,NaN,NaN,1.52
9,SC60710,Rizki Surya Fajar,Teknik Informatika,65,179,NaN,NaN,1.79
10,SC60711,Talitha Sahda Nindyra W,Oseanografi,50,157,NaN,NaN,1.57
11,SC60712,Aldy Firmansyah,Sistem Informasi,68,169,NaN,NaN,1.69
12,SC60713,Chairina Nabila,Teknik Informatika,45,153,NaN,NaN,1.53
13,SC60714,Fatimah Nur Rohiim,Pendidikan Bahasa dan Sastra Indonesia,60,157,NaN,NaN,1.57
14,SC60715,Kevin Sukma Adhinugraha,Manajemen,62,168,NaN,NaN,1.68
15,SC60716,Muhammad Fikri Abdillah S,Statistika,70,168,NaN,NaN,1.68
16,SC60717,Nurul Shifa Maulina,Ilmu Ekonomi Syariah,50,159,NaN,NaN,1.59
17,SC60718,Shafira Nurin Qolbi,Sistem Informasi,46,159,NaN,NaN,1.59
18,SC60719,Agnes Theresia Siburian,Sistem Informasi,48,158,NaN,NaN,1.58
19,SC60720,Ade Lia Nur Fitri,Matematika,60,158,NaN,,1.58
20,SC60721,Erfani Nurul Hamidah,statistika,42,157,NaN,NaN,1.57
21,SC60722,Kafka Imtiyaaz Bayuaji,Statistika,100,183,NaN,NaN,1.83
22,SC60723,Nadila Angelina Shintya B,Matematika,45,155,NaN,NaN,1.55
23,SC60724,Raphael Junus Samson,Matematika,62,170,NaN,NaN,1.70
24,SC60725,Veren Oktavia Halim,Statistika,60,159,NaN,NaN,1.59

# SOAL 1 POIN 3

In [ ]:
#Program Menghitung BMI
import pandas as pd

path_dataset = '/content/drive/MyDrive/stupen/Data Kompi 7.xlsx'

df = pd.read_excel(path_dataset)
df

bmi = df['Berat Badan (kg)'] / ((df['Tinggi Badan (cm)']/100) **2)

print('Nilai BMI anda : ', bmi)

Nilai BMI anda :  0     23.661439
1     20.284799
2     15.625000
3     24.141519
4     20.134780
5     20.549887
6     18.726007
7     17.799929
8     19.477147
9     20.286508
10    20.284799
11    23.808690
12    19.223376
13    24.341758
14    21.967120
15    24.801587
16    19.777699
17    18.195483
18    19.227688
19    24.034610
20    17.039231
21    29.860551
22    18.730489
23    21.453287
24    23.733238
dtype: float64

# SOAL 1 POIN 4

In [ ]:
df['BMI'] = df['Berat Badan (kg)'] / (df['Tinggi Badan (cm)'] ** 2)

In [ ]:
# Menampilkan DataFrame yang telah diperbarui dengan kolom BMI
df[['Nama', 'Berat Badan (kg)', 'Tinggi Badan (cm)', 'BMI']]

                         Nama  Berat Badan (kg)  Tinggi Badan (cm)       BMI
0         Adrie Bagas Saputra                70                172  0.002366
1       Angel Paulina Siahaan                50                157  0.002028
2             Deby Ilma Aulia                40                160  0.001563
3     Eryantina Wahyu Hidayat                58                155  0.002414
4              Hanisa Feranti                49                156  0.002013
5                Lina Wardani                58                168  0.002055
6      Muhamad Aqmal Ramadhan                60                179  0.001873
7   Nabila Masithoh Rosyidani                45                159  0.001780
8            Octavia Kustiana                45                152  0.001948
9           Rizki Surya Fajar                65                179  0.002029
10    Talitha Sahda Nindyra W                50                157  0.002028
11            Aldy Firmansyah                68                169  0.002381
12            Chairina Nabila                45                153  0.001922
13         Fatimah Nur Rohiim                60                157  0.002434
14    Kevin Sukma Adhinugraha                62                168  0.002197
15  Muhammad Fikri Abdillah S                70                168  0.002480
16        Nurul Shifa Maulina                50                159  0.001978
17        Shafira Nurin Qolbi                46                159  0.001820
18    Agnes Theresia Siburian                48                158  0.001923
19          Ade Lia Nur Fitri                60                158  0.002403
20       Erfani Nurul Hamidah                42                157  0.001704
21     Kafka Imtiyaaz Bayuaji               100                183  0.002986
22  Nadila Angelina Shintya B                45                155  0.001873
23       Raphael Junus Samson                62                170  0.002145
24        Veren Oktavia Halim                60                159  0.002373

# SOAL 1 Poin 5

In [ ]:
# Kolom Status BMI
conditions = [
    (df['BMI'] < 18.5),
    (df['BMI'] >= 18.5) & (df['BMI'] <= 24.9),
    (df['BMI'] >= 25.0) & (df['BMI'] <= 29.9),
    (df['BMI'] >= 30.0) & (df['BMI'] <= 34.9)
]
choices = ['Underweight', 'Normal', 'Overweight', 'Obesity']
df['Status BMI'] = pd.Series(pd.cut(df['BMI'], bins=[0, 18.5, 24.9, 29.9, 34.9], labels=choices))
df

,No. Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm),Unnamed: 5,Unnamed: 6,BMI,Status BMI
0,SC60701,Adrie Bagas Saputra,Sistem dan Teknologi Informasi,70,172,NaN,NaN,0.002366,Underweight
1,SC60702,Angel Paulina Siahaan,Teknik Informatika,50,157,NaN,NaN,0.002028,Underweight
2,SC60703,Deby Ilma Aulia,Akuntansi,40,160,NaN,NaN,0.001563,Underweight
3,SC60704,Eryantina Wahyu Hidayat,teknik industri,58,155,NaN,NaN,0.002414,Underweight
4,SC60705,Hanisa Feranti,Pendidikan Fisika,49,156,NaN,NaN,0.002013,Underweight
5,SC60706,Lina Wardani,Sistem Informasi,58,168,NaN,NaN,0.002055,Underweight
6,SC60707,Muhamad Aqmal Ramadhan,Teknologi Industri Pertanian,60,179,NaN,NaN,0.001873,Underweight
7,SC60708,Nabila Masithoh Rosyidani,Akuntansi,45,159,NaN,NaN,0.001780,Underweight
8,SC60709,Octavia Kustiana,Pendidikan PKn,45,152,NaN,NaN,0.001948,Underweight
9,SC60710,Rizki Surya Fajar,Teknik Informatika,65,179,NaN,NaN,0.002029,Underweight
10,SC60711,Talitha Sahda Nindyra W,Oseanografi,50,157,NaN,NaN,0.002028,Underweight
11,SC60712,Aldy Firmansyah,Sistem Informasi,68,169,NaN,NaN,0.002381,Underweight
12,SC60713,Chairina Nabila,Teknik Informatika,45,153,NaN,NaN,0.001922,Underweight
13,SC60714,Fatimah Nur Rohiim,Pendidikan Bahasa dan Sastra Indonesia,60,157,NaN,NaN,0.002434,Underweight
14,SC60715,Kevin Sukma Adhinugraha,Manajemen,62,168,NaN,NaN,0.002197,Underweight
15,SC60716,Muhammad Fikri Abdillah S,Statistika,70,168,NaN,NaN,0.002480,Underweight
16,SC60717,Nurul Shifa Maulina,Ilmu Ekonomi Syariah,50,159,NaN,NaN,0.001978,Underweight
17,SC60718,Shafira Nurin Qolbi,Sistem Informasi,46,159,NaN,NaN,0.001820,Underweight
18,SC60719,Agnes Theresia Siburian,Sistem Informasi,48,158,NaN,NaN,0.001923,Underweight
19,SC60720,Ade Lia Nur Fitri,Matematika,60,158,NaN,,0.002403,Underweight
20,SC60721,Erfani Nurul Hamidah,statistika,42,157,NaN,NaN,0.001704,Underweight
21,SC60722,Kafka Imtiyaaz Bayuaji,Statistika,100,183,NaN,NaN,0.002986,Underweight
22,SC60723,Nadila Angelina Shintya B,Matematika,45,155,NaN,NaN,0.001873,Underweight
23,SC60724,Raphael Junus Samson,Matematika,62,170,NaN,NaN,0.002145,Underweight
24,SC60725,Veren Oktavia Halim,Statistika,60,159,NaN,NaN,0.002373,Underweight

# SOAL 1 POIN 6

In [ ]:
sort_tb_desc = df.sort_values(by='Tinggi Badan (cm)',ascending=False)
sort_tb_desc

,No. Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm),Unnamed: 5,Unnamed: 6,BMI,Status BMI
21,SC60722,Kafka Imtiyaaz Bayuaji,Statistika,100,183,NaN,NaN,0.002986,Underweight
6,SC60707,Muhamad Aqmal Ramadhan,Teknologi Industri Pertanian,60,179,NaN,NaN,0.001873,Underweight
9,SC60710,Rizki Surya Fajar,Teknik Informatika,65,179,NaN,NaN,0.002029,Underweight
0,SC60701,Adrie Bagas Saputra,Sistem dan Teknologi Informasi,70,172,NaN,NaN,0.002366,Underweight
23,SC60724,Raphael Junus Samson,Matematika,62,170,NaN,NaN,0.002145,Underweight
11,SC60712,Aldy Firmansyah,Sistem Informasi,68,169,NaN,NaN,0.002381,Underweight
14,SC60715,Kevin Sukma Adhinugraha,Manajemen,62,168,NaN,NaN,0.002197,Underweight
5,SC60706,Lina Wardani,Sistem Informasi,58,168,NaN,NaN,0.002055,Underweight
15,SC60716,Muhammad Fikri Abdillah S,Statistika,70,168,NaN,NaN,0.002480,Underweight
2,SC60703,Deby Ilma Aulia,Akuntansi,40,160,NaN,NaN,0.001563,Underweight
17,SC60718,Shafira Nurin Qolbi,Sistem Informasi,46,159,NaN,NaN,0.001820,Underweight
16,SC60717,Nurul Shifa Maulina,Ilmu Ekonomi Syariah,50,159,NaN,NaN,0.001978,Underweight
24,SC60725,Veren Oktavia Halim,Statistika,60,159,NaN,NaN,0.002373,Underweight
7,SC60708,Nabila Masithoh Rosyidani,Akuntansi,45,159,NaN,NaN,0.001780,Underweight
18,SC60719,Agnes Theresia Siburian,Sistem Informasi,48,158,NaN,NaN,0.001923,Underweight
19,SC60720,Ade Lia Nur Fitri,Matematika,60,158,NaN,,0.002403,Underweight
13,SC60714,Fatimah Nur Rohiim,Pendidikan Bahasa dan Sastra Indonesia,60,157,NaN,NaN,0.002434,Underweight
1,SC60702,Angel Paulina Siahaan,Teknik Informatika,50,157,NaN,NaN,0.002028,Underweight
10,SC60711,Talitha Sahda Nindyra W,Oseanografi,50,157,NaN,NaN,0.002028,Underweight
20,SC60721,Erfani Nurul Hamidah,statistika,42,157,NaN,NaN,0.001704,Underweight
4,SC60705,Hanisa Feranti,Pendidikan Fisika,49,156,NaN,NaN,0.002013,Underweight
22,SC60723,Nadila Angelina Shintya B,Matematika,45,155,NaN,NaN,0.001873,Underweight
3,SC60704,Eryantina Wahyu Hidayat,teknik industri,58,155,NaN,NaN,0.002414,Underweight
12,SC60713,Chairina Nabila,Teknik Informatika,45,153,NaN,NaN,0.001922,Underweight
8,SC60709,Octavia Kustiana,Pendidikan PKn,45,152,NaN,NaN,0.001948,Underweight

In [ ]:
sort_nama_desc = df.sort_values(by='Nama',ascending=False)
sort_nama_desc

,No. Peserta,Nama,Jurusan,Berat Badan (kg),Tinggi Badan (cm),Unnamed: 5,Unnamed: 6,BMI,Status BMI
24,SC60725,Veren Oktavia Halim,Statistika,60,159,NaN,NaN,0.002373,Underweight
10,SC60711,Talitha Sahda Nindyra W,Oseanografi,50,157,NaN,NaN,0.002028,Underweight
17,SC60718,Shafira Nurin Qolbi,Sistem Informasi,46,159,NaN,NaN,0.001820,Underweight
9,SC60710,Rizki Surya Fajar,Teknik Informatika,65,179,NaN,NaN,0.002029,Underweight
23,SC60724,Raphael Junus Samson,Matematika,62,170,NaN,NaN,0.002145,Underweight
8,SC60709,Octavia Kustiana,Pendidikan PKn,45,152,NaN,NaN,0.001948,Underweight
16,SC60717,Nurul Shifa Maulina,Ilmu Ekonomi Syariah,50,159,NaN,NaN,0.001978,Underweight
22,SC60723,Nadila Angelina Shintya B,Matematika,45,155,NaN,NaN,0.001873,Underweight
7,SC60708,Nabila Masithoh Rosyidani,Akuntansi,45,159,NaN,NaN,0.001780,Underweight
15,SC60716,Muhammad Fikri Abdillah S,Statistika,70,168,NaN,NaN,0.002480,Underweight
6,SC60707,Muhamad Aqmal Ramadhan,Teknologi Industri Pertanian,60,179,NaN,NaN,0.001873,Underweight
5,SC60706,Lina Wardani,Sistem Informasi,58,168,NaN,NaN,0.002055,Underweight
14,SC60715,Kevin Sukma Adhinugraha,Manajemen,62,168,NaN,NaN,0.002197,Underweight
21,SC60722,Kafka Imtiyaaz Bayuaji,Statistika,100,183,NaN,NaN,0.002986,Underweight
4,SC60705,Hanisa Feranti,Pendidikan Fisika,49,156,NaN,NaN,0.002013,Underweight
13,SC60714,Fatimah Nur Rohiim,Pendidikan Bahasa dan Sastra Indonesia,60,157,NaN,NaN,0.002434,Underweight
3,SC60704,Eryantina Wahyu Hidayat,teknik industri,58,155,NaN,NaN,0.002414,Underweight
20,SC60721,Erfani Nurul Hamidah,statistika,42,157,NaN,NaN,0.001704,Underweight
2,SC60703,Deby Ilma Aulia,Akuntansi,40,160,NaN,NaN,0.001563,Underweight
12,SC60713,Chairina Nabila,Teknik Informatika,45,153,NaN,NaN,0.001922,Underweight
1,SC60702,Angel Paulina Siahaan,Teknik Informatika,50,157,NaN,NaN,0.002028,Underweight
11,SC60712,Aldy Firmansyah,Sistem Informasi,68,169,NaN,NaN,0.002381,Underweight
18,SC60719,Agnes Theresia Siburian,Sistem Informasi,48,158,NaN,NaN,0.001923,Underweight
0,SC60701,Adrie Bagas Saputra,Sistem dan Teknologi Informasi,70,172,NaN,NaN,0.002366,Underweight
19,SC60720,Ade Lia Nur Fitri,Matematika,60,158,NaN,,0.002403,Underweight

#SOAL 1 POIN 7

In [ ]:
#Filter Data Status BMI di Luar Normal
filtered_data = df[(df['BMI'] < 18.5) | (df['BMI'] > 24.9)]

print("Data dengan status BMI di luar Normal (18.5-24.9):")
print(filtered_data)

Data dengan status BMI di luar Normal (18.5-24.9):
   No. Peserta                       Nama  \
0      SC60701        Adrie Bagas Saputra
1      SC60702      Angel Paulina Siahaan
2      SC60703            Deby Ilma Aulia
3      SC60704    Eryantina Wahyu Hidayat
4      SC60705             Hanisa Feranti
5      SC60706               Lina Wardani
6      SC60707     Muhamad Aqmal Ramadhan
7      SC60708  Nabila Masithoh Rosyidani
8      SC60709           Octavia Kustiana
9      SC60710          Rizki Surya Fajar
10     SC60711    Talitha Sahda Nindyra W
11     SC60712            Aldy Firmansyah
12     SC60713            Chairina Nabila
13     SC60714         Fatimah Nur Rohiim
14     SC60715    Kevin Sukma Adhinugraha
15     SC60716  Muhammad Fikri Abdillah S
16     SC60717        Nurul Shifa Maulina
17     SC60718        Shafira Nurin Qolbi
18     SC60719    Agnes Theresia Siburian
19     SC60720          Ade Lia Nur Fitri
20     SC60721       Erfani Nurul Hamidah
21     SC60722     Kafka Imtiyaaz Bayuaji
22     SC60723  Nadila Angelina Shintya B
23     SC60724       Raphael Junus Samson
24     SC60725        Veren Oktavia Halim

                                   Jurusan  Berat Badan (kg)  \
0          Sistem dan Teknologi Informasi                 70
1                      Teknik Informatika                 50
2                                Akuntansi                40
3                          teknik industri                58
4                        Pendidikan Fisika                49
5                        Sistem Informasi                 58
6             Teknologi Industri Pertanian                60
7                                Akuntansi                45
8                           Pendidikan PKn                45
9                       Teknik Informatika                65
10                             Oseanografi                50
11                       Sistem Informasi                 68
12                      Teknik Informatika                45
13  Pendidikan Bahasa dan Sastra Indonesia                60
14                               Manajemen                62
15                             Statistika                 70
16                    Ilmu Ekonomi Syariah                50
17                        Sistem Informasi                46
18                        Sistem Informasi                48
19                              Matematika                60
20                              statistika                42
21                             Statistika                100
22                             Matematika                 45
23                              Matematika                62
24                              Statistika                60

    Tinggi Badan (cm)  Unnamed: 5 Unnamed: 6       BMI   Status BMI
0                 172         NaN        NaN  0.002366  Underweight
1                 157         NaN        NaN  0.002028  Underweight
2                 160         NaN        NaN  0.001563  Underweight
3                 155         NaN        NaN  0.002414  Underweight
4                 156         NaN        NaN  0.002013  Underweight
5                 168         NaN        NaN  0.002055  Underweight
6                 179         NaN        NaN  0.001873  Underweight
7                 159         NaN        NaN  0.001780  Underweight
8                 152         NaN        NaN  0.001948  Underweight
9                 179         NaN        NaN  0.002029  Underweight
10                157         NaN        NaN  0.002028  Underweight
11                169         NaN        NaN  0.002381  Underweight
12                153         NaN        NaN  0.001922  Underweight
13                157         NaN        NaN  0.002434  Underweight
14                168         NaN        NaN  0.002197  Underweight
15                168         NaN        NaN  0.002480  Underweight
16                159         NaN        NaN  0.001978  Underweight
17                159         NaN        NaN  0.001820  Underweight
18                158         NaN        NaN  0.001923  Underweight
19                158         NaN             0.002403  Underweight
20                157         NaN        NaN  0.001704  Underweight
21                183         NaN        NaN  0.002986  Underweight
22                155         NaN        NaN  0.001873  Underweight
23                170         NaN        NaN  0.002145  Underweight
24                159         NaN        NaN  0.002373  Underweight

In [ ]:
#Filter Data Tinggi Badan > 169 cm dan Berat Badan > 60 kg
filtered_data = df[(df['Tinggi (cm)'] > 169) & (df['Berat (kg)'] > 60)]

print("Data dengan Tinggi Badan > 169 cm dan Berat Badan > 60 kg:")
print(filtered_data)

KeyError: 'Tinggi (cm)'

In [ ]:
#Filter Data Nama yang mengandung huruf “y”.
filtered_data = df[df['Nama'].str.contains('y')]

print("Data dengan Nama yang mengandung huruf 'y':")
print(filtered_data)

Data dengan Nama yang mengandung huruf 'y':
   No. Peserta                       Nama             Jurusan  \
2      SC60703            Deby Ilma Aulia           Akuntansi
3      SC60704    Eryantina Wahyu Hidayat     teknik industri
7      SC60708  Nabila Masithoh Rosyidani           Akuntansi
9      SC60710          Rizki Surya Fajar  Teknik Informatika
10     SC60711    Talitha Sahda Nindyra W         Oseanografi
11     SC60712            Aldy Firmansyah   Sistem Informasi
21     SC60722     Kafka Imtiyaaz Bayuaji         Statistika
22     SC60723  Nadila Angelina Shintya B         Matematika

    Berat Badan (kg)  Tinggi Badan (cm)  Unnamed: 5 Unnamed: 6       BMI  \
2                 40                160         NaN        NaN  0.001563
3                 58                155         NaN        NaN  0.002414
7                 45                159         NaN        NaN  0.001780
9                 65                179         NaN        NaN  0.002029
10                50                157         NaN        NaN  0.002028
11                68                169         NaN        NaN  0.002381
21               100                183         NaN        NaN  0.002986
22                45                155         NaN        NaN  0.001873

     Status BMI
2   Underweight
3   Underweight
7   Underweight
9   Underweight
10  Underweight
11  Underweight
21  Underweight
22  Underweight

In [ ]:
#Filter Data Siapa Saja yang Berat Badannya Kurang Dari 60 kg?
filtered_data = df[df['Berat (kg)'] < 60]

print("Data dengan Berat Badan kurang dari 60 kg:")
print(filtered_data)

# SOAL 1 POIN 8

In [ ]:
# Menambahkan Nomor Urut
filtered_df.insert(0, 'No.', range(1, 1 + len(filtered_df)))
df

# SOAL 1 Poin 9

In [ ]:
# Nilai Terendah dan Tertinggi
min_tinggi = df['Tinggi Badan (cm)'].min()
max_tinggi = df['Tinggi Badan (cm)'].max()
min_berat = df['Berat Badan (kg)'].min()
max_berat = df['Berat Badan (kg)'].max()

print("Nilai terendah dan tertinggi:")
print(f"Nilai terendah tinggi badan: {min_tinggi} cm")
print(f"Nilai tertinggi tinggi badan: {max_tinggi} cm")
print(f"Nilai terendah berat badan: {min_berat} kg")
print(f"Nilai tertinggi berat badan: {max_berat} kg")

In [ ]:
# Rata-rata Tinggi Badan
avg_height = df['Tinggi Badan (cm)'].mean()
print(f"Rata-rata Tinggi Badan: {avg_height}")

Rata-rata Tinggi Badan: 162.68

In [ ]:
# Rata-rata Berat Badan
avg_weight = df['Berat Badan (kg)'].mean()
print(f"Rata-rata Berat Badan: {avg_weight} kg")

In [ ]:
# Jumlah Orang dalam Dataframe
total_students = len(df)
print(f"Jumlah orang dalam dataframe:  {total_students}")

In [ ]:
# 5 orang dengan BMI tertinggi
top_5_bmi = df.nlargest(5, 'BMI')
print(f"5 orang dengan BMI tertinggi: {top_5_bmi}")

In [ ]:
# Status BMI
count_status = df['Status BMI'].value_counts()
print(count_status)

# SOAL 2

In [ ]:
def calculate_investment(modal, tenure):
    # Checking if the input values are within the specified range
    if not (0 <= modal <= 1000000000) or not (1 <= tenure <= 25):
        print("Error: Modal atau tenure tidak sesuai ketentuan.")
        return

    # Initial investment
    total_investment = modal

    # Displaying investment for each year
    for year in range(1, tenure + 1):
        total_investment += total_investment * 0.25  # 25% fixed profit rate
        print(f"Year {year}, your total investment: {total_investment:.2f}")

# Taking input from the user
try:
    modal_investasi = int(input("Money Capital (Modal Investasi): "))
    jangka_waktu = int(input("Investment Tenure (Jangka Waktu Investasi) in years: "))

    # Calculating and displaying the investment
    calculate_investment(modal_investasi, jangka_waktu)

except ValueError:
    print("Error: Input harus berupa bilangan bulat.")